h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1.heading {
  color: var(--white);
  font-size: 10vh;
  font-weight: bold;
  text-transform: capitalize;
}

h3.sub_heading {
  color: #f0f0f0b8;
  font-size: 2.5vh;
  text-transform: capitalize;
}

/* .custom_btn {
    width: auto;
    height: auto;
    background: var(--main);
    color: var(--black);
    border: 0.2vh solid lightgray;
    font-size: 2.4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    padding: 1.5vh 5.5vh;
    text-transform: capitalize;
    transition: 0.3s all ease-in-out;
} */

.custom_btn {
    color: var(--main);
    background: linear-gradient(to right, #4d4d4d 0, var(--main) 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: bold;
    font-size: 2.4vh;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    text-transform: capitalize;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 220px;
  }
}

/* .custom_btn:hover {
  transform: scale(1.05);
} */

a {
  text-decoration: none !important;
  color: inherit !important;
}

img {
  height: 100%;
  width: 100%;
}
