* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  max-width: 100vw;
}

.navbar_container {
  padding: 1.5rem 3rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar {
  border-radius: 30px;
  background: #1a090d;
}

.nav-item {
  margin-right: 2rem;
  font-size: larger;
}

.nav-item .nav-link {
  color: #cee5f2 !important;
}
